.projects_header {
  margin-top: 5%;
  font-size: 27px;
}

.projects_container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .projects_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
  }
}
