.skills_header {
  margin-top: 5%;
  font-size: 27px;
}

.skills {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.skill {
  margin: 0.5em;
  border: 1px solid grey;
  text-align: center;
  padding: 15px;
  text-align: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.skill:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

@media (max-width: 800px) {
  .skill {
    padding: 8px;
    margin: 0.3em;
  }
}
