.about_description {
  width: 40%;
  margin: 0 auto;
  text-align: start;
  padding: 1.5%;
}

.about_role {
  font-size: 35px;
}

.about_container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.about_container h1 {
  font-size: 60px;
}

.about_name {
  color: STEELBLUE;
}

.about_contact a {
  text-decoration: none;
  color: black;
}

.btn {
  border: 2px solid STEELBLUE;
  padding: 12%;
  color: STEELBLUE;
  transition: ease-in 0.3s;
}

.btn:hover {
  box-shadow: inset 300px 0 0 0 steelblue;
  color: white;
}

.about_contact {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 25%;
  margin-top: 1%;
}

.about_contact a:hover {
  color: steelblue;
}

@media (max-width: 800px) {
  .btn {
    margin-right: 25px;
  }
  .about_description {
    margin: 0 auto;
    text-align: center;
  }
  .about_container h1 {
    font-size: 40px;
  }
  .about_container h2 {
    font-size: 25px;
  }

  .about_contact {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-top: 3%;
  }
}
