.about_description {
  width: 40%;
  margin: 0 auto;
  text-align: start;
  padding: 1.5%;
}

.about_role {
  font-size: 35px;
}

/* .about {
  flex-direction: column;
  margin-top: 3em;
} */

.about_container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.about_container h1 {
  font-size: 60px;
}

.about_name {
  color: STEELBLUE;
}

.about_contact a {
  text-decoration: none;
  color: black;
}

.btn {
  border: 2px solid STEELBLUE;
  padding: 12%;
  color: STEELBLUE;
}

.about_contact {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 25%;
  margin-top: 1%;
}
