.nav_list {
  display: flex;
  justify-content: flex-end;
  margin: 3% 20% 0 0;
}

.nav_list_item {
  margin-left: 1.5em;
}

.nav_list_name {
  display: flex;
  justify-content: flex-start;
}

.nav_list_item a {
  text-decoration: none;
  color: black;
}

.nav_list_item a:hover {
  color: steelblue;
}
